langchain
scikit-image
streamlit
diffusers[torch]
torch
transformers
scipy
scikit-learn
pytest
invisible-watermark
safetensors
matplotlib
opencv-python
opencv-contrib-python
google-api-python-client
tiktoken
watchdog
openai
mistralai
langchain_mistralai
altair==4.0
Flask
gunicorn
uuid
flask-swagger-ui
redis 
redisvl
prometheus-flask-exporter
pika
accelerate
safetensors
uvicorn
msgpack
grpcio 
grpcio-tools
pretty_errors
fastapi